[submodule "deps/libbmwrapper"]
	path = deps/libbmwrapper
	url = https://github.com/yamamushi/libbmwrapper
[submodule "deps/fecpp"]
	path = deps/fecpp
	url = https://github.com/yamamushi/fecpp
[submodule "deps/libnmcrpc"]
	path = deps/libnmcrpc
	url = https://github.com/yamamushi/libnmcrpc
