# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*bin/
bin/

# IDE Extras
.idea/*

# CMake files
CMakeFiles/
*CMakeFiles/*
CMakeCache.txt
*Makefile
*cmake_install.cmake
*.swp
build/

# Apple Stuff
xcuserdata/
*.xcodeproj
.DS_Store

# Sqlite stuff
*.db


